.center__top__wrapper{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.center__top__wrapper button{
    padding: 10px 30px 10px 30px;
    background-color: var(--teritaryColor);
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
}

.center__top__wrapper button:hover{
    opacity: 0.8;
}