.header{
    background: var(--secondaryColor);
    height: 65px;
}

.header__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}

.header__wrapper > *{
    margin-top: 10px;
}
.header__search__icon{
    color: #fff;
}

.header__search__container{
    background: transparent;
    border: 1px solid var(--primaryColor);
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__search__container input{
    background: transparent;
    border: none;
}