.header{
    background: var(--secondaryColor);
    height: 65px;
}

.header__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}

.header__wrapper > *{
    margin-top: 10px;
}

.header__search__icon{
    color: #fff;
}

.header__search__container{
    background: transparent;
    border: 1px solid gray;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.header__left__wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header__left__wrapper h2{
    margin-left: 30px;
    font-size: 15px;
    font-weight: 500;
    cursor:  pointer;
    transition: 0.3s;
    color: var(--textColor);
}

.header__left__wrapper h2:hover{
    color: var(--teritaryColor);
}

.header__left__wrapper .header__search__container{
    margin-left: 50px;
}

.header__search__container input{
    width: 300px;
    background: transparent;
    border: none;
    color: gray;
}
.header__search__container input:focus{
    outline: none;
}

.header__account__container{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.header__account__container p{
    margin-left: 10px;
}   
