.main__container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.login__header{
    display: flex;
    justify-content: space-between;
    margin: 20px;

}


.login__btn__container{
    display: flex;
    justify-content: space-between;
}

.smallBtn{
    padding-left: 40px;
    padding-right: 40px;
    background: transparent;
}

.login__btn__container button{
    margin-left: 30px;
    font-size: 17px;
    background-color: var(--teritaryColor);
    color: var(--textColor);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.widerBtn{
    padding-left: 40px;
    padding-right: 40px;
    transition: .5s;
}

.widerBtn:hover{
    background-color: var(--primaryColor);
    color: var(--teritaryColor)
}


.login__container{
    padding: 30px;
    border-radius: 10px;
}
h1{
    text-align: center;
    color: var(--primaryColor)
}
label, input{
    display: block;
    margin: auto;
    margin-top: 10px;
}

input{
    padding: 6px;
}

form button{
    width: 100%;
    margin-top: 10px;
    padding: 6px;
    background-color: var(--teritaryColor);
    color: var(--textColor);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}