.sidebar{
    background-color: var(--secondaryColor);
    margin-top: 50px;
    padding: 30px;
    border-radius: 10px;
    max-height: 70vh;
}

.sidebar h2{
    /* background-color: var(--teritaryColor); */
    /* border-bottom: 1px solid var(--teritaryColor); */
}
.sidebar__issue__container{
    display: flex;
    padding-bottom: 10px;
    align-items: center;
    justify-content: space-between;
    margin-top: 22px;
    cursor: pointer;
    transition: 0.3s;
}

.sidebar__issue__container:hover{
    transform: scale(1.09);
}   

.sidebar__issue__container h3{
    font-size: 16px;
    background-color: var(--teritaryColor);
    padding:5px;
    border-radius: 5px;
}
.sidebar__issue__container p{
    color: var(--textColor);
}