.signup{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

.signup__container{
    border: 2px solid var(--secondaryColor);
    padding: 90px 50px 90px 50px;
    border-radius: 10px;

}

.signup h1{
    text-align: center;
    font-size: 40px;
    margin-bottom: 40px;
}

.signup input{
    display: block;
    width: 300px;
    padding: 10px;
    font-size: 18px;
    margin-top: 20px;
    background-color: var(--secondaryColor);
    color: var(--textColor);
    border: 1px solid var(--secondaryColor);
    border-radius: 8px;;
}

.signup input:focus{
    outline: none;
}

.signup button{
    width: 100%;
    margin-top: 20px;
    font-size: 18px;
}

.signup p{
    margin-top: 30px;
    text-align: center;
}