.tophosts{
    background-color: var(--secondaryColor);
    margin-top: 50px;
    padding: 30px;
    border-radius: 10px;
    max-height: 50vh;
}

button{
        padding: 8px 20px 8px 20px;
        background-color: var(--teritaryColor);
        color: #fff;
        border-radius: 6px;
        cursor: pointer;
        border: none;
    }

p{
    color: var(--textColor)
}

.tophosts h2 {
    margin-bottom: 20px;
}

@media only screen and (max-width: 760px) {
   .tophosts{
    display: none;
   }
}
